h1.page-title{
	color:#666666;
	margin-top: 15px;
}

label.error {
	color: red !important;
}

body{
	color:#666666;
}

label {
	color: #666666;
	font-weight: bold;
	margin-bottom: 4px;
}

form {
	border: 2px solid #cccccc;
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 15px;
}